/* @keyframes & transitions*/

/*Rotate*/
@-webkit-keyframes rotate
	to
		-webkit-transform: rotate(360deg)
		transform: rotate(360deg)
@keyframes rotate
	to
		-webkit-transform: rotate(360deg)
		transform: rotate(360deg)

	/*********************/

@-webkit-keyframes rotateScale
	to
		-webkit-transform: rotate(360deg) scale(1.1)
		transform: rotate(360deg) scale(1.1)
@keyframes rotateScale
	30%
		-webkit-transform: rotate(0) scale(1.1)
		transform: rotate(0) scale(1.1)
	
	50%,70%
		-webkit-transform: rotate(220deg) scale(1.1)
		transform: rotate(220deg) scale(1.1)
	

	100%
		-webkit-transform: rotate(360deg) scale(1.1)
		transform: rotate(360deg) scale(1.1)
	

	/*********************/
	
/*Rotate X */

@-webkit-keyframes rotateX
	
	35%
		-webkit-transform: rotateX(-180deg)
		transform: rotateX(-180deg)
	
	50%,100%
		-webkit-transform: rotateX(-360deg)
		transform: rotateX(-360deg)

@keyframes rotateX

	35%
		-webkit-transform: rotateX(-180deg)
		transform: rotateX(-180deg)
	
	50%,100%
		-webkit-transform: rotateX(-360deg)
		transform: rotateX(-360deg)


	/*********************/

@-webkit-keyframes rotateX2
	
	to
		-webkit-transform: rotateX(-180deg)
		transform: rotateX(-180deg)

@keyframes rotateX2

	to
		-webkit-transform: rotateX(-180deg)
		transform: rotateX(-180deg)

	/*********************/

/* Rotate Y*/
@-webkit-keyframes rotateY
	
	35%
		-webkit-transform: rotateY(-180deg)
		transform: rotateY(-180deg)
	
	50%,100%
		-webkit-transform: rotateY(-360deg)
		transform: rotateY(-360deg)

@keyframes rotateY

	35%
		-webkit-transform: rotateY(-180deg)
		transform: rotateY(-180deg)
	
	50%,100%
		-webkit-transform: rotateY(-360deg)
		transform: rotateY(-360deg)

	/*********************/

@-webkit-keyframes rotateY2
	
	to
		-webkit-transform: rotateY(-190deg)
		transform: rotateY(-190deg)

@keyframes rotateY2

	to
		-webkit-transform: rotateY(-190deg)
		transform: rotateY(-190deg)

	
	/*********************/