// %placeholder to extend

%btn
	background-color: $third-color
	border-radius: .4rem
	padding: .3em 1.5em 
	cursor: pointer
	position: relative
	&:active
		box-shadow: none
		top: 1px

	&:hover
		background-color: $main-color
		color: $third-color