//Custom SASS
//By Mahmoud Zakaria

@import common


@media(max-width: 768px)
	.row
		margin-bottom: 0
	.gv
		&-4
			width: 100%
			margin-bottom: $lg

@media(max-width: 480px)
	.header
		&-me
			&-hover
				display: none
		&-logo
			img
				width: 200px
	h1,h2
		font-size: 3rem
