/* @keyframes & transitions */
/*Rotate */
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /******************** */
}
@-webkit-keyframes rotateHalf {
  0%,10% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  90%,100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes rotateHalf {
  0%,10% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  90%,100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  /******************** */
}
@-webkit-keyframes rotate2 {
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /******************** */
}
@keyframes rotateScale {
  50% {
    -webkit-transform: rotate(180deg) scale(1.1);
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
  }
  /******************** */
}
/*Rotate X */
@-webkit-keyframes rotateX {
  35% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  50%,100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}
@keyframes rotateX {
  35% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  50%,100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
  /******************** */
}
@-webkit-keyframes rotateXHalf {
  0%,10% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  90%,100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@keyframes rotateXHalf {
  0%,10% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  90%,100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  /******************** */
}
@-webkit-keyframes rotateX2 {
  to {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes rotateX2 {
  to {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  /******************** */
}
@-webkit-keyframes rotateX3 {
  to {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
@keyframes rotateX3 {
  to {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
  /******************** */
}
/* Rotate Y */
@-webkit-keyframes rotateY {
  35% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  50%,100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotateY {
  35% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  50%,100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  /******************** */
}
@-webkit-keyframes rotateY2 {
  to {
    -webkit-transform: rotateY(-190deg);
    transform: rotateY(-190deg);
  }
}
@keyframes rotateY2 {
  to {
    -webkit-transform: rotateY(-190deg);
    transform: rotateY(-190deg);
  }
  /******************** */
}
/* Translate Y */
@-webkit-keyframes ball {
  0%,100% {
    -webkit-transform: translateY(-5em);
    transform: translateY(-5em);
    width: 3em;
  }
  50% {
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
    width: 3em;
  }
  55% {
    width: 4em;
  }
}
@keyframes ball {
  0%,100% {
    -webkit-transform: translateY(-5em);
    transform: translateY(-5em);
    width: 3em;
  }
  50% {
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
    width: 3em;
  }
  55% {
    width: 4em;
  }
  /******************** */
}
@-webkit-keyframes width {
  0%,100% {
    width: 10em;
  }
  52% {
    width: 4em;
  }
}
@keyframes width {
  0%,100% {
    width: 10em;
  }
  52% {
    width: 4em;
  }
  /******************** */
}
/* Scale Y */
@-webkit-keyframes scaleY {
  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes scaleY {
  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  /******************** */
}
@-webkit-keyframes move {
  25% {
    top: 2em;
    left: 2em;
  }
  50% {
    top: 3em;
    left: 1em;
  }
  75% {
    top: 2em;
    left: 0em;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes move {
  25% {
    top: 2em;
    left: 2em;
  }
  50% {
    top: 3em;
    left: 0em;
  }
  75% {
    top: 2em;
    left: -2em;
  }
  100% {
    top: 0;
    left: 0;
  }
  /******************** */
}
@-webkit-keyframes jump {
  50% {
    -webkit-transform: translateX(-50%) translateY(-0.5em);
    transform: translateX(-50%) translateY(-0.5em);
  }
}
@keyframes jump {
  50% {
    -webkit-transform: translateX(-50%) translateY(-0.5em);
    transform: translateX(-50%) translateY(-0.5em);
  }
  /******************** */
}
@-webkit-keyframes move2 {
  to {
    -webkit-transform: translateY(-20em) translateZ(0);
    transform: translateY(-20em) translateZ(0);
  }
}
@keyframes move2 {
  to {
    -webkit-transform: translateY(-20em) translateZ(0);
    transform: translateY(-20em) translateZ(0);
  }
  /******************** */
}
@-webkit-keyframes shadowSwitch {
  50% {
    box-shadow: 5em 0 #51b5e3, -5em 0 #545454;
  }
}
@keyframes shadowSwitch {
  50% {
    box-shadow: 5em 0 #51b5e3, -5em 0 #545454;
  }
  /******************** */
}
@-webkit-keyframes progress {
  to {
    background-position: -100px center;
  }
}
@keyframes progress {
  to {
    background-position: -100px center;
  }
}
.snippet-wrap {
  position: relative;
  perspective: 100px;
}

.snippet {
  position: relative;
  margin: auto;
  font-size: 10px;
}

/*Spinners */
.spinner1 {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.5em solid #ddd;
  border-top-color: #51b5e3;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
.spinner2 {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.5em solid #ddd;
  border-right-color: #51b5e3;
  border-left-color: #51b5e3;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
.spinner3 {
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 2.5em solid transparent;
  border-right-color: #51b5e3;
  border-left-color: #51b5e3;
  -webkit-animation: rotate 0.5s linear infinite;
  animation: rotate 0.5s linear infinite;
}
.spinner4 {
  width: 5em;
  height: 5em;
  margin: auto;
}
.spinner4-right, .spinner4-left {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.5em solid transparent;
  border-radius: 50%;
  -webkit-animation: rotate 800ms linear infinite;
  animation: rotate 800ms linear infinite;
}
.spinner4-right {
  border-right-color: #51b5e3;
}
.spinner4-left {
  border-left-color: #ea8b49;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.spinner5 {
  width: 5em;
  height: 5em;
  margin: auto;
  color: white;
}
.spinner5-right, .spinner5-left {
  position: absolute;
  left: 0;
  border: 0.5em solid;
  border-radius: 50%;
}
.spinner5-right {
  border-color: inherit;
  border-right-color: transparent;
  border-top-color: transparent;
  border-width: 2.5em;
  z-index: 5;
  -webkit-transform: rotate(0) scale(1.1);
  transform: rotate(0) scale(1.1);
  -webkit-animation: rotateScale 2s 0.5s ease-in-out infinite;
  animation: rotateScale 2s 0.5s ease-in-out infinite;
}
.spinner5-left {
  width: 100%;
  height: 100%;
  -webkit-animation: rotate2 2s ease-in-out infinite;
  animation: rotate2 2s ease-in-out infinite;
  border-left-color: #51b5e3;
  border-bottom-color: #51b5e3;
}
.spinner6 {
  width: 5em;
  height: 5em;
  margin: auto;
  -webkit-animation: rotate 5s ease-out infinite;
  animation: rotate 5s ease-out infinite;
}
.spinner6-right, .spinner6-left {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.5em solid transparent;
  border-radius: 50%;
  -webkit-animation: rotate 600ms linear infinite;
  animation: rotate 600ms linear infinite;
}
.spinner6-right {
  border-right-color: #51b5e3;
}
.spinner6-left {
  border-left-color: #ea8b49;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.spinner7 {
  width: 0;
  height: 0;
  border: 2.5em solid #51b5e3;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #ea8b49;
  border-radius: 1em;
  -webkit-animation: rotateX 2s linear infinite;
  animation: rotateX 2s linear infinite;
}
.spinner8 {
  width: 0;
  height: 0;
  border: 2.5em solid transparent;
  border-right-color: #51b5e3;
  border-left-color: #ea8b49;
  border-bottom-color: transparent;
  border-radius: 10px;
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  box-shadow: 0 0 1px transparent;
  -webkit-animation: scaleY 65ms infinite alternate, move 5s infinite;
  animation: scaleY 65ms infinite alternate, move 5s infinite;
}
.spinner9 {
  width: 0;
  height: 0;
  border: 2.5em solid #51b5e3;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #ea8b49;
  border-radius: 1em;
  -webkit-animation: rotateY 2s linear infinite;
  animation: rotateY 2s linear infinite;
}
.spinner10 {
  width: 5em;
  height: 5em;
  /*outside */
  /*inside */
}
.spinner10 > * {
  border: 0.2em solid #ea8b49;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  box-shadow: 0 0 1px transparent;
}
.spinner10 > *:nth-child(odd) {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  border-color: #51b5e3;
  border-left-color: transparent;
}
.spinner10-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.spinner10-2 {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  bottom: -0.5em;
  left: -0.5em;
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
}
.spinner10-3 {
  position: absolute;
  top: -1em;
  right: -1em;
  bottom: -1em;
  left: -1em;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}
.spinner10-4 {
  position: absolute;
  top: -1.5em;
  right: -1.5em;
  bottom: -1.5em;
  left: -1.5em;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}
.spinner10-5 {
  position: absolute;
  top: -2em;
  right: -2em;
  bottom: -2em;
  left: -2em;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
}
.spinner10-6 {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
}
.spinner10-7 {
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}
.spinner10-8 {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  bottom: 1.5em;
  left: 1.5em;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
}
.spinner10-9 {
  position: absolute;
  top: 2em;
  right: 2em;
  bottom: 2em;
  left: 2em;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.spinner11 {
  width: 0;
  height: 0;
  border: 1.5em solid #51b5e3;
  border-radius: 50%;
  -webkit-animation: ball 1s linear infinite;
  animation: ball 1s linear infinite;
  z-index: 10;
}
.spinner11-shadow {
  width: 10em;
  height: 2em;
  border-radius: 50%;
  margin: auto;
  position: relative;
  top: -1em;
  background-image: radial-gradient(#333 0%, transparent 60%);
  -webkit-animation: width 1s linear infinite;
  animation: width 1s linear infinite;
}

/*Shadow */
.shadow1 {
  width: 0;
  height: 0;
  border: 1em solid #ea8b49;
  border-radius: 50%;
  box-shadow: -5em 0 #51b5e3, 5em 0 #545454, 0 0 1px transparent;
  -webkit-animation: shadowSwitch 2s infinite ease-in-out;
  animation: shadowSwitch 2s infinite ease-in-out;
}
.shadow2 {
  width: 0;
  height: 0;
  border: 1em solid #ea8b49;
  border-radius: 50%;
  box-shadow: -4em 0 #51b5e3, 4em 0 #545454, 0 0 1px transparent;
  -webkit-animation: rotateHalf 400ms infinite alternate linear;
  animation: rotateHalf 400ms infinite alternate linear;
}
.shadow3 {
  width: 0;
  height: 0;
  border: 1em solid #ea8b49;
  border-radius: 50%;
  box-shadow: -5em 0 #51b5e3, 5em 0 #545454;
  -webkit-animation: shadowSwitch 1s infinite ease-in-out;
  animation: shadowSwitch 1s infinite ease-in-out;
}

.road {
  perspective: 30px;
}
.road-inner {
  width: 5em;
  height: 10em;
  margin: 0 auto 2.5rem;
  background-color: #51b5e3;
  -webkit-transform: rotateX(25deg);
  transform: rotateX(25deg);
  overflow: hidden;
}
.road-block {
  width: 30%;
  height: 30%;
  box-shadow: 0 0 1px transparent;
  margin: 0 auto 2rem;
  background-color: white;
  -webkit-animation: move2 2s linear infinite;
  animation: move2 2s linear infinite;
}
.road img {
  width: 10em;
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
  -webkit-animation: jump 300ms linear infinite;
  animation: jump 300ms linear infinite;
}

.progress {
  height: 20px;
  background-color: lightgreen;
  border-radius: 10px;
  overflow: hidden;
  transform: skew(0deg) translateZ(0);
}
.progress:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-image: linear-gradient(to left, #58bf58 50%, transparent 51%);
  background-size: 50px;
  background-repeat: repeat;
  background-position: 0 center;
  transform: skew(-50deg) translateZ(0);
  -webkit-animation: progress 1s linear infinite;
  animation: progress 1s linear infinite;
  box-shadow: 0 0 1px transparent;
}
