.snippet-wrap {
  position: relative;
  perspective: 100px;
}

/* @keyframes & transitions */
/*Rotate */
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /******************** */
}
@-webkit-keyframes rotateScale {
  to {
    -webkit-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
  }
}
@keyframes rotateScale {
  30% {
    -webkit-transform: rotate(0) scale(1.1);
    transform: rotate(0) scale(1.1);
  }
  50%,70% {
    -webkit-transform: rotate(220deg) scale(1.1);
    transform: rotate(220deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
  }
  /******************** */
}
/*Rotate X */
@-webkit-keyframes rotateX {
  35% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  50%,100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}
@keyframes rotateX {
  35% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  50%,100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
  /******************** */
}
@-webkit-keyframes rotateX2 {
  to {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes rotateX2 {
  to {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  /******************** */
}
/* Rotate Y */
@-webkit-keyframes rotateY {
  35% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  50%,100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@keyframes rotateY {
  35% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  50%,100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
  /******************** */
}
@-webkit-keyframes rotateY2 {
  to {
    -webkit-transform: rotateY(-190deg);
    transform: rotateY(-190deg);
  }
}
@keyframes rotateY2 {
  to {
    -webkit-transform: rotateY(-190deg);
    transform: rotateY(-190deg);
  }
  /******************** */
}
/* Translate Y */
@-webkit-keyframes ball {
  0%,100% {
    -webkit-transform: translateY(-5rem);
    transform: translateY(-5rem);
    width: 3rem;
  }
  50% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    width: 3rem;
  }
  55% {
    width: 4rem;
  }
}
@keyframes ball {
  0%,100% {
    -webkit-transform: translateY(-5rem);
    transform: translateY(-5rem);
    width: 3rem;
  }
  50% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    width: 3rem;
  }
  55% {
    width: 4rem;
  }
  /******************** */
}
@-webkit-keyframes width {
  0%,100% {
    width: 10rem;
  }
  52% {
    width: 4rem;
  }
}
@keyframes width {
  0%,100% {
    width: 10rem;
  }
  52% {
    width: 4rem;
  }
}
/*Spinners */
.spinner {
  position: relative;
  margin: auto;
}
.spinner1 {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.5rem solid #ddd;
  border-top-color: #51b5e3;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
.spinner2 {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.5rem solid #ddd;
  border-right-color: #51b5e3;
  border-left-color: #51b5e3;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
.spinner3 {
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 2.5rem solid transparent;
  border-right-color: #51b5e3;
  border-left-color: #51b5e3;
  -webkit-animation: rotate 0.5s linear infinite;
  animation: rotate 0.5s linear infinite;
}
.spinner4 {
  width: 5rem;
  height: 5rem;
  margin: auto;
}
.spinner4-right, .spinner4-left {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.5rem solid transparent;
  border-radius: 50%;
  -webkit-animation: rotate 800ms linear infinite;
  animation: rotate 800ms linear infinite;
}
.spinner4-right {
  border-right-color: #51b5e3;
}
.spinner4-left {
  border-left-color: #ea8b49;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.spinner5 {
  width: 5rem;
  height: 5rem;
  margin: auto;
  color: white;
}
.spinner5-right, .spinner5-left {
  position: absolute;
  left: 0;
  border: 0.5rem solid;
  border-radius: 50%;
}
.spinner5-right {
  border-color: white;
  border-right-color: transparent;
  border-top-color: transparent;
  border-width: 2.5rem;
  z-index: 5;
  -webkit-transform: rotate(0) scale(1.1);
  transform: rotate(0) scale(1.1);
  -webkit-animation: rotateScale 9s ease-out infinite;
  animation: rotateScale 9s ease-out infinite;
}
.spinner5-left {
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
  border-left-color: #51b5e3;
  border-bottom-color: #51b5e3;
}
.spinner6 {
  width: 5rem;
  height: 5rem;
  margin: auto;
  -webkit-animation: rotate 5s ease-out infinite;
  animation: rotate 5s ease-out infinite;
}
.spinner6-right, .spinner6-left {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.5rem solid transparent;
  border-radius: 50%;
  -webkit-animation: rotate 600ms linear infinite;
  animation: rotate 600ms linear infinite;
}
.spinner6-right {
  border-right-color: #51b5e3;
}
.spinner6-left {
  border-left-color: #ea8b49;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.spinner7 {
  width: 0;
  height: 0;
  border: 2.5rem solid #51b5e3;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #ea8b49;
  border-radius: 1rem;
  -webkit-animation: rotateX 2s linear infinite;
  animation: rotateX 2s linear infinite;
}
.spinner8 {
  width: 0;
  height: 0;
  border: 2.5rem solid transparent;
  border-right-color: #51b5e3;
  border-left-color: #ea8b49;
  border-bottom-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 1px transparent;
  -webkit-animation: rotateX2 20ms infinite;
  animation: rotateX2 20ms infinite;
}
.spinner9 {
  width: 0;
  height: 0;
  border: 2.5rem solid #51b5e3;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #ea8b49;
  border-radius: 1rem;
  -webkit-animation: rotateY 2s linear infinite;
  animation: rotateY 2s linear infinite;
}
.spinner10 {
  width: 5rem;
  height: 5rem;
  margin-top: 2rem;
  /*outside */
  /*inside */
}
.spinner10 > * {
  border: 0.2rem solid #ea8b49;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  box-shadow: 0 0 1px transparent;
}
.spinner10 > *:nth-child(odd) {
  animation-direction: reverse;
  border-color: #51b5e3;
  border-right-color: transparent;
}
.spinner10-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.spinner10-2 {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
}
.spinner10-3 {
  position: absolute;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}
.spinner10-4 {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  bottom: -1.5rem;
  left: -1.5rem;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}
.spinner10-5 {
  position: absolute;
  top: -2rem;
  right: -2rem;
  bottom: -2rem;
  left: -2rem;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
}
.spinner10-6 {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
}
.spinner10-7 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}
.spinner10-8 {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
}
.spinner10-9 {
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.spinner11 {
  width: 3rem;
  height: 3rem;
  background: #51b5e3;
  border-radius: 50%;
  margin-top: 4rem;
  -webkit-animation: ball 900ms linear infinite;
  animation: ball 900ms linear infinite;
  z-index: 10;
}
.spinner11-shadow {
  width: 10rem;
  height: 2rem;
  border-radius: 50%;
  margin: auto;
  position: relative;
  top: -1rem;
  background-image: radial-gradient(#333 0, transparent 60%);
  -webkit-animation: width 900ms linear infinite;
  animation: width 900ms linear infinite;
}
